---
layout: default
---


<section id="course-single">
	<div class="row align-justify">
		<div class="column small-12 large-6">
			<h1>{{ page.title }}</h1>
			<h3>
				{{ page.subtitle }}
			</h3>
			<p class="lead-off">
				{{ page.department }}
			</p>

			<img src="/assets/images/buttercup-foshey.jpg" style="width: 100%; margin-top: 2em;">

			<ul class="menu vertical" style="margin-left: -1em; margin-top: 2em;">
				<li><a href="#biography">Biography</a></li>
				<li><a href="#publications-also-google-scholar">Publications</a></li>
			</ul>
		</div>
		<div class="column small-12 large-6">
			<h1>&nbsp;</h1>
			{{ content }}
		</div>
	</div>
</section>